*{
    padding: 0 0 0 0;
    /* top, right, bottom, left */
    margin: 0 0 0 0;
    box-sizing: border-box;
}
html{
    font-size: 1.2vw;
}
body{
    /*font we want, second replacement font, and then whatever sans serif is avail*/
    font-family: 'Archivo', sans-serif;
    background-color: #4cbaeb;
    color: white;
    margin: 3rem;
}
.debug{
    border: 1px solid black;
}
.info{
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.dates{
    width: 25%;
    padding: 0.5rem;
    height: 35vh;
}

.dates__block{
    border-color: solid black;
    border-bottom: 1px;
    margin-bottom: 2px;
}

.dates__block:hover{
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5rem;
}
.dates__item{
    list-style: none;
    color: black;
}

.empty{
    height: 15vh;
}

.titles{
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin:0;
}
.titles__spacing{
    width: 25%;
    flex-shrink: 0;
}
.titles__international{
    font-size: 3rem;
}

.titles__festival{
    font-size: 4.5rem;
}

.titles__theater{
    font-size: 10rem;
}

.titles__city{
    font-size: 16rem;
}

.titles__year{
    font-size: 24rem;
}